@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  @apply bg-white text-charcoal;
}

/* enable smooth anchor scrolling */
html {
  scroll-behavior: smooth;
}

/* small helpers */
.container { max-width: 1200px; }
